@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
	background-color: #fcfcfc;
}
h1 {
	font-family: 'Fredoka One', cursive;
	font-size: 3em;
	text-align: center;
}
h2 {
	font-family: 'Fredoka One', cursive;	
	font-size: 3em;
}
h3 {
	font-family: 'Nunito', cursive;	
}
h4{
	font-family: 'Nunito', cursive;
}
footer h4{
	color: #35cad2;
}
p {
	font-family: 'Nunito', sans-serif;
	color:black;
	text-align:left;
}
li {
	font-family: 'Nunito', sans-serif;
}
i {
	color:blue;
	font-size: 1.5em;
}
nav{
	background-color:#3a58c7;
	margin: 10px 0;
}
nav ul {
	list-style-type:none;
	text-align:center;
}
nav li{
	display:inline;
	font-size: 2em;	
	padding:2px 30px 3px 30px;
}
nav a{
	text-decoration:none;
}
nav a:link{
	color:white;
}
nav a:visited{
	color:white;
}
nav a:hover{
	text-decoration: none;
}
nav a:active{
	color:white;
}
nav li:hover{
	background-color:#6f7db0;
}
nav li:active{
	background-color:#8f97b3;
}
main{
	max-width: 1080px;
	margin:0 auto;
}
footer{
	color: #35cad2;
	background-color: #16296e;
	text-align:center;
	padding:15px;
	margin:0;
	display:block;
}
footer small{
	color:white;
}
blockquote{
	margin:30px;
}
i{
	font-size: 4em;
}
iframe{
	border: solid blue 2px;
}
.leftfloat{
	float: left;
	margin: .5em 1em 0 1em;
	background-size:cover;
}
.rightfloat{
	float: right;
	margin: .5em 1em 0 1em;
	background-size:cover;
}
.icons{
	text-align:center;
	padding: 40px 0 ;
    color: #35cad2;
    max-width:1200px;
    margin:0 auto;
}
.icons .fa{
	font-size: 5em;
    color: #35cad2;
}

.home-hero{
	background-image:url(images/pets.jpg);
	height: 475px;
	background-size:cover;
	background-position: center;
	text-align:left;
	padding: 5px 10px 10px 10px; 
	color:#f9f9f9;

}
.col-sm-6 img{
	margin-top:.5em;
}
.gallery .preview{
    width:100%;
    height:auto;
	background-color:#4b4691;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
/* CSS for Tablets */
@media only screen and (max-width:1024px){
	h2{
		font-size: 2em;
	}
	p{
		margin: 1em;
		float: center;
	}
	nav li:hover{
		background:none;
	}
	nav li:active{
		background:none;
	}
	.leftfloat{
	float:center;
	}
	.rightfloat{
	float: center;
	}
	img{
		max-width:400px;
		max-height:300px;
		float: center;
	}
	.img-fluid{
		max-width: 100%;
		height: auto;
	}
}
/* CSS for Smartphones */
@media only screen and (max-width:780px){
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.3em;
	}
	h3{
		font-size: 1em;
	}
	p{
		margin: 0;
	}
	nav{
		font-size: .5em;
		padding-right: 40px;
	}
	.desktop{
		display: none;
	}
	img{
		max-width:300px;
		max-height:225px;
	}
}